<!DOCTYPE html>

<html>
<head>
    <title>EnergoGlobal EG | Kalkulator za izračunavanje snage agregata</title>
    <meta property="og:description" content="Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Iznajmite ili kupite prenosne,  industrijske, super tihe agregate">
    <meta property="og:image" content="https://energoglobal.com/wp-content/uploads/2021/11/Share_Dizel_Benzinski_Elektro_Agregati_EnergoGlobal_Srbija4.jpg">
    <meta property="og:image:secure_url" content="https://energoglobal.com/wp-content/uploads/2021/11/Share_Dizel_Benzinski_Elektro_Agregati_EnergoGlobal_Srbija4.jpg">
    <link rel="icon" href="https://energoglobal.com/wp-content/uploads/2021/10/cropped-energoglobal-ikona-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://energoglobal.com/wp-content/uploads/2021/10/cropped-energoglobal-ikona-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://energoglobal.com/wp-content/uploads/2021/10/cropped-energoglobal-ikona-180x180.png" />
    @* Tabele sa pretragom *@
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <meta name="msapplication-TileImage" content="https://energoglobal.com/wp-content/uploads/2021/10/cropped-energoglobal-ikona-270x270.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link href="~/Content/dataDable.css" rel="stylesheet" />
    
   

  

    

  
</head>
<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="/Energoglobal/Kalkulator" style="vertical-align:middle">

    <img src="~/Images/energoglobal-logo.png" alt="energo_global_logo" />   <span class="logo-text"><span class="energo">Energo</span>Global</span>
</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Meni</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/EnergoGlobal/Kalkulator">Home</a></li>
                                <li><a href="/Registracija/Registrovanje">Registruj se</a></li>
                                <li><a href="/Registracija/Logovanje">Uloguj se</a></li>
                                <li><a href="https://energoglobal.com/" target="_blank">Idi na sajt EnergoGlobala</a></li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main -->

      
        <article id="main">
            <header>
                <h2><span class="energo">Energo</span> Global</h2>
                <p>Kalkulator za izračunavanje snage agregata</p>
            </header>
            <section class="wrapper style5" id="pdf">

                @RenderBody()

            </section>
        </article>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a target="_blank" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fenergoglobal" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a target="_blank" href="https://www.facebook.com/energoglobaldoo/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                
                <li><a target="_blank"  href="https://www.linkedin.com/company/energoglobal-doo/mycompany/" class="icon brands fa-linkedin"><span class="label"></span></a></li>
                <li>  <a target="_blank" href="https://www.youtube.com/channel/UCDU4w569LzA-vZ_s8HZZy2Q" class="icon brands fa-youtube"><span class="label"></span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; EnergoGlobal 2023</li>
                <li>Kalkulator agregata</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
   

</body>
</html>


<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/jquery.scrollex.min.js"></script>
<script src="~/assets/js/jquery.scrolly.min.js"></script>
<script src="~/assets/js/browser.min.js"></script>
<script src="~/assets/js/breakpoints.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/assets/js/main.js"></script>
@* pretraga tabela *@
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>




