@{
    ViewBag.Title = "Kalkulator";
}

<div class="inner">

    <h3>Kako radi kalkulator za izračunavanje snage agregata </h3>
    <p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>

    <section class="wrapper style5">




        <section>

            <ul class="actions fit small">
                <li><a href="/Registracija/Logovanje" class="button primary fit small">Ulogujte se</a></li>
                <li><a href="/Registracija/Registrovanje" class="button fit small">Registrujte se</a></li>

            </ul>

        </section>


    </section>

</div>
